@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}

img{
  max-height: 800px;
  width: 100%;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  font-size: 18px;
}
a{
  padding: 6px;
  text-decoration: none !important; /* goddamn bootstrap overriding my styles*/
  color: inherit !important;
  transition: 0.2s;
}

a:hover{
  letter-spacing: 2px;
  color: rgb(9, 67, 121) !important;
}
a::after{
  content: " |";
}